In [56]:
from pathlib import Path
import sqlite3
import pandas as pd
import sqlalchemy

In [57]:
Path('SXDB.db').touch()

In [58]:
conn = sqlite3.connect('SXDB.db')
c = conn.cursor()

In [59]:
df = pd.read_csv('Spacex.csv')
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [60]:
df.rename(columns={'Landing _Outcome':'Landing_Outcome'}, inplace=True)

In [61]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [62]:
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

In [63]:
c.execute(''' CREATE TABLE IF NOT EXISTS SXDB (
                        'Date' DATE,
                        'Time (UTC)' DATETIME,
                        'Booster_Version' varchar(30),
                        'Launch_Site' varchar(30),
                        'Payload' vrchar(80),
                        'PAYLOAD_MASS__KG_' int(90),
                        'Orbit' varchar(30),
                        'Customer' varchar (60),
                        'Mission_Outcome' varchar(50),
                        'Landing_Outcome' varchar(80))''')

In [64]:
df.to_sql('SXDB', conn, if_exists='append', index=False)

/home/edward/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [65]:
fullSQL=pd.DataFrame(c.execute('''SELECT * FROM SXDB''').fetchall())
print(fullSQL)

              0         1               2             3  \
0    04-06-2010  18:45:00  F9 v1.0  B0003   CCAFS LC-40
1    08-12-2010  15:43:00  F9 v1.0  B0004   CCAFS LC-40
2    22-05-2012  07:44:00  F9 v1.0  B0005   CCAFS LC-40
3    08-10-2012  00:35:00  F9 v1.0  B0006   CCAFS LC-40
4    01-03-2013  15:10:00  F9 v1.0  B0007   CCAFS LC-40
..          ...       ...             ...           ...
96   05-11-2020  23:24:23    F9 B5B1062.1  CCAFS SLC-40
97   16-11-2020  00:27:00   F9 B5B1061.1     KSC LC-39A
98   21-11-2020  17:17:08    F9 B5B1063.1   VAFB SLC-4E
99   25-11-2020  02:13:00  F9 B5 B1049.7   CCAFS SLC-40
100  06-12-2020  16:17:08  F9 B5 B1058.4     KSC LC-39A

                                                     4      5          6  \
0                 Dragon Spacecraft Qualification Unit      0        LEO
1    Dragon demo flight C1, two CubeSats, barrel of...      0  LEO (ISS)
2                                Dragon demo flight C2    525  LEO (ISS)
3                                         SpaceX CRS-1    500  LEO (ISS)
4                                         SpaceX CRS-2    677  LEO (ISS)
..                                                 ...    ...        ...
96                                 GPS III-04 , Crew-1   4311        MEO
97                Crew-1, Sentinel-6 Michael Freilich   12500  LEO (ISS)
98      Sentinel-6 Michael Freilich, Starlink 15 v1.0    1192        LEO
99                     Starlink 15 v1.0, SpaceX CRS-21  15600        LEO
100                                      SpaceX CRS-21   2972  LEO (ISS)

                                7        8                    9
0                          SpaceX  Success  Failure (parachute)
1                 NASA (COTS) NRO  Success  Failure (parachute)
2                     NASA (COTS)  Success           No attempt
3                      NASA (CRS)  Success           No attempt
4                      NASA (CRS)  Success           No attempt
..                            ...      ...                  ...
96                           USSF  Success              Success
97                     NASA (CCP)  Success              Success
98   NASA / NOAA / ESA / EUMETSAT  Success              Success
99                         SpaceX  Success              Success
100                    NASA (CRS)  Success              Success

[101 rows x 10 columns]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [66]:
result1=pd.DataFrame(c.execute('''SELECT DISTINCT Launch_Site FROM SXDB''').fetchall())
print(result1)

              0
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [67]:
result2=pd.DataFrame(c.execute('''SELECT DISTINCT Launch_Site FROM SXDB WHERE Launch_Site like "%CCA%" LIMIT 5''').fetchall())
print(result2)

              0
0   CCAFS LC-40
1  CCAFS SLC-40

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [68]:
result3=pd.DataFrame(c.execute('''SELECT SUM(PAYLOAD_MASS__KG_) FROM SXDB WHERE Customer = "NASA (CRS)"''').fetchall())
print(result3)

       0
0  45596

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [69]:
result4=pd.DataFrame(c.execute('''SELECT AVG(PAYLOAD_MASS__KG_) FROM SXDB WHERE Booster_Version = "F9 v1.1"''').fetchall())
print(result4)

        0
0  2928.4

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [70]:
result5=pd.DataFrame(c.execute(''' SELECT MIN(Date) FROM SXDB WHERE Mission_Outcome ="Success" ''').fetchall())
print(result5)

            0
0  01-03-2013

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [71]:
c.execute(''' SELECT Booster_Version FROM SXDB WHERE Landing_Outcome = "Success (drone ship)" AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000 ''').fetchall()

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

In [72]:
result6=pd.DataFrame(c.execute(''' SELECT Booster_Version FROM SXDB WHERE Landing_Outcome = "Success (drone ship)" AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000 ''').fetchall())
print(result6)

                0
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7

##### List the total number of successful and failure mission outcomes

In [73]:
c.execute('''SELECT COUNT(*), Mission_Outcome FROM SXDB GROUP BY Mission_Outcome''').fetchall()

[(1, 'Failure (in flight)'),
 (98, 'Success'),
 (1, 'Success '),
 (1, 'Success (payload status unclear)')]

In [35]:
result7=pd.DataFrame(c.execute('''SELECT COUNT(*), Mission_Outcome FROM SXDB GROUP BY Mission_Outcome''').fetchall())
print(result7)

     0                                 1
0    2               Failure (in flight)
1  196                           Success
2    2                          Success
3    2  Success (payload status unclear)

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [74]:
c.execute('''SELECT Booster_Version FROM SXDB WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SXDB)''').fetchall()

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

In [36]:
result8=pd.DataFrame(c.execute('''SELECT Booster_Version FROM SXDB WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SXDB)''').fetchall())
print(result8)

                 0
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7
12   F9 B5 B1048.4
13   F9 B5 B1049.4
14   F9 B5 B1051.3
15   F9 B5 B1056.4
16   F9 B5 B1048.5
17   F9 B5 B1051.4
18   F9 B5 B1049.5
19  F9 B5 B1060.2
20  F9 B5 B1058.3
21   F9 B5 B1051.6
22   F9 B5 B1060.3
23  F9 B5 B1049.7

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [75]:
c.execute('''SELECT Booster_Version, Launch_Site FROM SXDB WHERE Landing_Outcome = "Failure (drone ship)" AND Date BETWEEN "01-01-2015" AND "31-12-2015"''').fetchall()

[('F9 v1.1 B1012', 'CCAFS LC-40'),
 ('F9 v1.1 B1015', 'CCAFS LC-40'),
 ('F9 v1.1 B1017', 'VAFB SLC-4E'),
 ('F9 FT B1020', 'CCAFS LC-40'),
 ('F9 FT B1024', 'CCAFS LC-40')]

In [76]:
result9=pd.DataFrame(c.execute('''SELECT Booster_Version, Launch_Site FROM SXDB WHERE Landing_Outcome = "Failure (drone ship)" AND Date BETWEEN "01-01-2015" AND "31-12-2015"''').fetchall())
print(result9)

               0            1
0  F9 v1.1 B1012  CCAFS LC-40
1  F9 v1.1 B1015  CCAFS LC-40
2  F9 v1.1 B1017  VAFB SLC-4E
3    F9 FT B1020  CCAFS LC-40
4    F9 FT B1024  CCAFS LC-40

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [77]:
c.execute(''' SELECT COUNT(*) AS count, Landing_Outcome FROM SXDB WHERE Date BETWEEN "04-06-2010" AND "20-03-2017" GROUP BY Landing_Outcome ORDER BY count DESC''').fetchall()

[(20, 'Success'),
 (10, 'No attempt'),
 (8, 'Success (drone ship)'),
 (6, 'Success (ground pad)'),
 (4, 'Failure (drone ship)'),
 (3, 'Failure'),
 (3, 'Controlled (ocean)'),
 (2, 'Failure (parachute)'),
 (1, 'No attempt ')]

In [38]:
result10=pd.DataFrame(c.execute(''' SELECT COUNT(*) AS count, Landing_Outcome FROM SXDB WHERE Date BETWEEN "04-06-2010" AND "20-03-2017" GROUP BY Landing_Outcome ORDER BY count DESC''').fetchall())
print(result10)

    0                     1
0  40               Success
1  20            No attempt
2  16  Success (drone ship)
3  12  Success (ground pad)
4   8  Failure (drone ship)
5   6               Failure
6   6    Controlled (ocean)
7   4   Failure (parachute)
8   2           No attempt